


<div class="tech-btm widget_social">
    <h4>Sosyal Medya</h4>
    <ul>
        <li>
            <a class="bg-dark" href="https://www.instagram.com/smtcoder/">
                <i class="fab fa-instagram"></i>

                <span class="count">5.8M</span> SMTcoder Followers
            </a>
        </li>
        <li>
            <a class="bg-dark" href="https://github.com/smtdeveloper">
                <i class="fab fa-github"></i>
                <span class="count">120k</span> SMTdeveloper Followers
            </a>
        </li>
        <li>
            <a class="bg-dark" href="https://github.com/smtdeveloper">
                <i class="fab fa-linkedin"></i>
                <span class="count"> 1k </span> Samet Akca Followers
            </a>
        </li>
        <li>
            <a class="bg-dark" href="https://github.com/smtdeveloper">
                <i class="fab fa-youtube"></i>
                <span class="count"> 500K </span> Samet Akca Followers
            </a>
        </li>

    </ul>
</div>