@model IEnumerable<EntityLayer.Concrete.Blog>


@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- BlogReadAll -->



<!DOCTYPE html>
<html lang="zxx">


<body>

    <!--//banner-->
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">



                    @foreach (var item in Model)
                    {
                    <div class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">
                                <a href="single.html">
                                    <img src="~/web/images/b1.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="blog-info-middle">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-thumbs-up"></i> 0 Likes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-comment"></i> 0 Comments
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        
                        <a target="_blank" href="https://www.instagram.com/smtcoder/">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Reklam !</strong> Samet Akca - Yazılım Geliştirici 👨‍💻 Takip Et

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </a>
                        <div class="jumbotron alert-success">
                            <h1 class="display-4 text-dark"> <b>  @item.Title </b> </h1>
                            
                            <hr class="my-4">
                            <h5>It uses utility classes for typography and spacing to space content out within the larger container.</h5>
                            
                        </div>

                        <br />

                        <h5>
                            @item.Content
                        </h5>
                        <a href="/blog/Index/" class="btn btn-success">  Diğer Bloglar </a>
                    </div>

                    }

                    @*<h1> Blog Id :  @ViewBag.i</h1>*@




                    @await Component.InvokeAsync("CommentListByBlog", new { id = ViewBag.i })



                    @*@await Html.PartialAsync("~/Views/Comment/CommentListByBlog.cshtml")*@

                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml" , new { id = ViewBag.c })

                </div>

                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">

                    <div class="right-blog-info text-left">

                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
                        

                        @await Component.InvokeAsync("CategoryList")

                    @await Component.InvokeAsync("WriterLastBlog")

                        <div class="single-gd my-5 tech-btm">
                            <h4> İlerlememiz </h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="single-gd tech-btm">
                            <h4>Son Eklenen Blog</h4>
                            <div class="blog-grids">
                                <div class="blog-grid-left">
                                    <a href="single.html">
                                        <img src="~/web/images/b1.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-grid-right">

                                    <h5>
                                        <a href="single.html">Pellentesque dui, non felis. Maecenas male</a>
                                    </h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>


</body>

</html>

