


    <div class="tech-btm">
        <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
    </div>

    <div class="tech-btm">
        <h4> Haber bültenimize kaydolun </h4>

        <p> <b> Yazılım, Teknoloji, Sanat ve diğer bloglar... </b>   </p>
        <form action="/NewsLetter/SubscribeMail/" method="post">
            <input type="email" placeholder="Email" required="" name="Mail">
            <input type="submit" value="Abone Ol">
        </form>

    </div>
