@using EntityLayer.Concrete
@model List<Blog>

<div class="tech-btm">
    <h4>Yazarın Diğer Yazıları</h4>
    @foreach (var item in Model)
    {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                    <img src="@item.Image" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="/Blog/BlogReadAll/@item.BlogId">@item.Title </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @item.CreateDate
                    </span>
                </div>
            </div>
        </div>
    }
</div>