@using EntityLayer.Concrete
@model List<Blog>

<div class="tech-btm">

    <h3> Son Postlar  </h3>

    @foreach(var item in Model) { 
    <div class="blog-grids row mb-3">

        <div class="col-md-5 blog-grid-left">
            <a href="/blog/BlogReadAll/@item.BlogId/">
                <img src="@item.Image" class="card-img-top img-fluid" alt="">
            </a>
        </div>
        <div class="col-md-7 blog-grid-right">  
            <h5 class="text-light"> @item.Title </h5>
            @*<h6 > <a  class="text-white-50" href="/blog/BlogReadAll/@item.BlogId/">@item.Content.Substring(0, item.Content.Substring(0, 30).LastIndexOf(" "))... </a></h6>*@
            <div class="sub-meta">
                <span>
                    <i class="far fa-clock"></i>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))
                </span>
            </div>
        </div>

    </div>
    }
</div>