
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>

<div class="col-12 row">

    <div class="col-6 p-2">
        <button class="btn btn-success p-3 m-2" onclick="StaticDowlandExcel()"> Static Excel Dosyasını indir   </button>
        <button class="btn btn-success p-3 m-2" onclick="DinamikDowlandExcel()"> Dinamik Excel Dosyasını indir   </button>

    </div>

    <div class="col-6">
    </div>


</div>




@section scripts
{


    <script>

        function StaticDowlandExcel() {

            window.open("/Admin/Blog/ExportStaticExcelBlogList");
        }

        function DinamikDowlandExcel() {

            window.open("/Admin/Blog/ExportDinamikExcelBlogList");
        }

    </script>

} 