<div class="row">
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-4 text-center">
                    <i class="fa fa-trophy fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Toplam Blog Sayısı </span>
                    <h2 class="font-bold"> @ViewBag.BlogCount </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Today degrees </span>
                    <h2 class="font-bold">26'C</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-envelope-o fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span>Yeni Mesaj sayısı </span>
                    <h2 class="font-bold">@ViewBag.MessageCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-music fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span>Toplam Yorum </span>
                    <h2 class="font-bold">@ViewBag.CommentCount</h2>
                </div>
            </div>
        </div>
    </div>
</div>