<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashborad</h1>

                <h3 class="font-bold no-margins"> Asp.net Core 5.0 </h3>
                <h4>Projemizin bu panelinde Admin işlemleri Area yapısı üzerineden gerçekleştirir.</h4>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Blog</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.LastBlogTitle
                </h3>
                <h4><a href="#">Tüm Bloglar</a></h4>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs"> ₺ 4.742,50</h1>

                <h3 class="font-bold no-margins">
                    Blog kazancı
                </h3>
                <small>Her ayın 21'de paranızı çekebilirsiniz.'</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>