@using EntityLayer.Concrete
@model List<Notification>

<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
    <h6 class="p-3 mb-0"> Bildirimler    </h6>
    @foreach (var item in Model)
    {
        <div class="dropdown-divider"></div>
        <a href="/Notification/AllNotification" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <div class="@item.NotificationColor ">
                    <i class="@item.NotificationTypeSymbol"></i>
                </div>
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="text-black">@item.NotificationType</h6>
                
                <p class="text-gray ellipsis mb-0"> @item.NotificationDetails  </p>
               
               

            </div>
        </a>
    }
    
<a href="/Notification/AllNotification"> <h6 class="p-3 mb-0 text-center"> Tüm bildirimleri gör </h6> </a> 
</div>