<div class="comment-top">
    <h4>Yorum Yaz</h4>
    <div class="comment-bottom">
        <form action="#" method="post">
            <input class="form-control" type="text" name="Name" placeholder="Name" required="">
            <input class="form-control" type="email" name="Email" placeholder="Email" required="">

            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="">

            <textarea class="form-control" name="Message" placeholder="Message..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Submit</button>
        </form>
    </div>
</div>