@using EntityLayer.Concrete
@model List<Notification>


@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1 class="text-lg-center"> Bildirimler </h1>


<br />

<hr />


<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@item.NotificationType </h4>
                    <h4 class="card-title">Tamamlanma Durumu :  @item.NotificationStatus </h4>
                    <p class="card-text">@item.NotificationDetails</p>
                    <a href="#" class="btn btn-danger">Sil</a>
                    <a href="#" class="btn btn-success">Tamamla</a>
                </div>
            </div>
        </div>

    }



    


</div>