@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SMTcoder Core Kampı Başladı :)</h1>
    
    <a class="h2" href="/Blog/index">
        <span class="menu-title">Siteye Git</span>
        <i class="mdi mdi-link menu-icon"></i>
    </a>
</div>
