@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SMTcoder Core Kampı Başladı :)</h1>
    <p>Samet Akca <a href="https://sametakca.com/">Web Sitem</a>.</p>
</div>
