
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1>Test</h1>



<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Departman</th>
        <th>City</th>
    </tr>
    <tr>
        <td> 1 </td>
        <td> Samet Akca </td>
        <td> Full Stack Developer </td>
        <td> HomeOfis </td>
    </tr>
    <tr>
        <td> 2 </td>
        <td> Samet Akca </td>
        <td> Mobil App Developer </td>
        <td> Ankara </td>
    </tr>
    <tr>
        <td> 2 </td>
        <td> Samet Akca </td>
        <td> Test uzmanı </td>
        <td> Ankara </td>
    </tr>

    <tr>
        <td> 2 </td>
        <td> Samet Akca </td>
        <td> Frontend Developer </td>
        <td> Ankara </td>
    </tr>

</table>



<div id="London" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>
