@using EntityLayer.Concrete
@model List<Message2>

<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
    <h6 class="p-3 mb-0">Mesajlar</h6>

    <div class="dropdown-divider"></div>
    @foreach (var item in Model)
    {
        <a href="/Message/Inbox/" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <img src="@item.SenderUser.Image" alt="image" class="profile-pic">
               
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h5 class="text-black">@item.SenderUser.Name sana mesaj gönderdi ! </h5>
                <h6 class="text-gray mb-0"> @item.MessageDate.ToShortDateString() </h6>
            </div>
        </a>
    }
    <h6 class="p-3 mb-0 text-center"> @Model.Count Yeni Mesaj  </h6>
</div>