<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
    <h6 class="p-3 mb-0">Messages-43</h6>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
            <img src="~/writer/assets/images/faces/face4.jpg" alt="image" class="profile-pic">
        </div>
        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
            <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
            <p class="text-gray mb-0"> 1 Minutes ago </p>
        </div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
            <img src="~/writer/assets/images/faces/face2.jpg" alt="image" class="profile-pic">
        </div>
        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
            <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
            <p class="text-gray mb-0"> 15 Minutes ago </p>
        </div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
            <img src="~/writer/assets/images/faces/face3.jpg" alt="image" class="profile-pic">
        </div>
        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
            <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
            <p class="text-gray mb-0"> 18 Minutes ago </p>
        </div>
    </a>
    <div class="dropdown-divider"></div>
    <h6 class="p-3 mb-0 text-center">3 new messages</h6>
</div>