
<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span>  </span>
    <span class="mx-lg-4 mx-md-2  mx-1">
        <a href="/Login/Index/">
            <i class="fas fa-lock"></i> Giriş Yap
        </a>
    </span>
    <span>
        <a href="/Register/Index/">
            <i class="far fa-user"></i> Kayıt Ol !
        </a>
    </span>
    <h5> İyi Yazılımcı Olma yolunda </h5>
</div>