<div class="header_top" id="home">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">

       
            <a class="navbar-brand" href="https://www.instagram.com/smtcoder/" target="_blank">SMTcoder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
     
            <div class="collapse navbar-collapse text-center " id="navbarsExample11">
                <ul class="navbar-nav">
                    <li class="nav-item text-center ">
                        <a class="nav-link" href="/Home/"> <b> AnaSayfa </b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog/index/"> <b> Bloglar </b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About/index/"> <b> Hakkımızda </b> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/index/"> <b> İletİşİm</b></a>
                    </li>


                </ul>
            </div>
     
        <div class="collapse navbar-collapse text-right" id="navbarsExample11">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard/index/">Yazar PANELİ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Widget/Index">Admin  PANELİ</a>
                </li>

            </ul>
        </div>

    </nav>

</div>
