<div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg bg-transparent navbar-light accept-policy  ">
        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse text-success" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Index">
                        Ana Sayfa  
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About/Index">Hakkında</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Blog/Index">Bloglar</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Contact/Index">İletişim</a>
                </li>

            </ul>
            <form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
                <input class="form-control mr-sm-2" type="search" placeholder="Site içinde Ara..." name="Search" required="">
                <button class="btn btn1 my-2 my-sm-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>



        </div>
    </nav>

</div>