<div class="header_top" id="home">
    <nav class="navbar navbar-expand-sm navbar-light bg-light" data-toggle="affix">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
            <a class="navbar-brand" href="https://www.instagram.com/smtcoder/" target="_blank">SMTcoder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarsExample11">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog/index/"> <b> Bloglar </b></a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="/About/index/"> <b> Hakkımızda </b> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/index/"> <b> İletİşİm</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/index/">YAZAR PANELİ</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

</div>
