
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>FİXblog | SMTcoder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/web/css/single.css">
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">


</head>

<body>
    <!--Header-->

    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <a class="navbar-brand"href="/Index">
                        <i class="fab fa-foursquare"></i> FİXblog
                    </a>
                </div>
               @await Html.PartialAsync("Partial2")
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="https://www.instagram.com/smtcoder/">
                                <i class="fab fa-instagram"></i>
                                <span>instagram</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://github.com/smtdeveloper">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </a>
                        </li>

                      

                    </ul>

                </div>
            </div>
        </div>

        @await Html.PartialAsync("Partial1")

    </header>
    <!--//header-->

 

    <!--/main-->
    @RenderBody()
    <!--//main-->
    <!--footer-->
   @await Html.PartialAsync("Partial3")
    <!---->
    <!-- js -->
    <script src="~/web/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="~/web/js/move-top.js"></script>
    <script src="~/web/js/easing.js"></script>
    <script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
    </script>
    <!--// end-smoth-scrolling -->

    <script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="~/web/js/bootstrap.js"></script>


</body>

</html>


