<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/inspinia-gh-pages/img/profile_small.jpg" />

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Samet Akca</span>
                        <span class="text-muted text-xs block">Yazılım Geliştirici <b class="caret"></b></span>
                    </a>
                </div>
                <div class="logo-element">
                    Creative Blog
                </div>
            </li>
            <li>
                <a href="/Admin/Widget/Index/"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>  </a>
            </li>
            <li>
                <a href="/Admin/Chart/Index/"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Grafikler</span>  </a>
            </li>
            <li>
                <a href="/Admin/AdminMessage/Inbox/"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span><span class="label label-warning float-right">0/0</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/AdminMessage/Inbox/">Gelen Kutusu</a></li>
                    <li><a href="/Admin/AdminMessage/SendBox/">Giden Kutusu</a></li>
                    <li><a href="/Admin/AdminMessage/ComposeMessage/">Yeni Mesaj Oluştur</a></li>
                </ul>
            </li>

            <li>
                <a href="/Admin/Category/Index/"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>
            <li>
                <a href="/Admin/AdminBlog/Index/"><i class="fa fa-list-alt"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>
            <li>
                <a href="/Admin/AdminComment/Index/"><i class="fa fa-comment"></i> <span class="nav-label">Yorumlar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Writer/Index/"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span>  </a>
            </li>

            <li>
                <a href="/Admin/AdminRole/Index/"><i class="fa fa-lock"></i> <span class="nav-label">Roller</span>  </a>
            </li>

            <li>
                <a href="/Admin/Blog/ExportStaticExcelBlogList/"><i class="fa fa-flask"></i> <span class="nav-label">Statik Rapor</span></a>
            </li>
            <li>
                <a href="/Admin/Blog/ExportDynamicExcelBlogList/"><i class="fa fa-pencil"></i> <span class="nav-label">Dinamik Rapor</span></a>
            </li>
            <li>
                <a href="/Admin/Blog/Index/"><i class="fa fa-close"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>
        </ul>
    </div>
</nav>