@using EntityLayer.Concrete
@model List<Category>

@{

    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered"  >
    <tr>
        <th> Id </th>
        <th> Kategori Adı </th>
        <th> Durumu </th>
        <th> Detaylar </th>
        <th> Sil </th>
    </tr>
    @foreach(var item in Model)
     {
<tr>
    <td> @item.CategoryId</td>
    <td> @item.Name</td>
    <td> @item.Status</td>
    <td> <a href="#" class="btn btn-warning"> Detaylar </a> </td>
    <td> <a href="#" class="btn btn-danger"> Sil </a> </td>
</tr>
     }
</table>

