@using CoreDemo.Controllers
@model Class1
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>AddEmployee</h1>

<form method="post">

    <label> Çalışan Adı</label>z
    <input type="text" asp-for="@Model.Name" class="form-control" />
    <br />
    <button type="submit" class="btn btn-success"> Yeni Çalışan Ekle   </button>

</form>

@section scripts
{
    <script>

    </script>
}