@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


@using (Html.BeginForm("ChangePassword", "Writer", FormMethod.Post))
{ 
<div>
    <form class="forms-sample">

        <div class="form-group">
            <h4 for="exampleFormControlInput1">Parola</h4>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Sifrenizi Girin">
        </div>
        <!--   parola -->
        
            <div class="form-group">
                <h4 for="exampleFormControlInput1">Yeni Parola</h4>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Yeni Sifrenizi Girin">
            </div>
            
            <div class="form-group">
                <h4 for="exampleFormControlInput1">Yeni Parolayı Doğrulayın</h4>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Yeni Sifrenizi Doğrulayın">
            </div>
       
        <button type="submit" class="btn btn-gradient-primary mr-2">Parolayı Değiştir</button>
    </form>
</div>

}