@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<h1> Yazar Paneli </h1>


<H2> @ViewBag.mailName </H2>

<H2> @ViewBag.writerName Hosgeldiniz ,  şeref verdiniz :) </H2>