<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/web/images/samet2.png" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2"> @ViewBag.writerName Hoş Geldiniz </span>
                    <span class="text-secondary text-small"> @ViewBag.mailName </span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/index/">
                <span class="menu-title">Gösterge Paneli</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEdit/">
                <span class="menu-title">Profil</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/GetBlogListByWriter">
                <span class="menu-title">Bloglar</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog/BlogAdd/">
                <span class="menu-title">Yeni Blog Ekle </span>
                <i class="mdi mdi-plus menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/Inbox">
                <span class="menu-title">Gelen Mesajlar</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/SendBox">
                <span class="menu-title">Giden Mesajlar</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Notification/AllNotification">
                <span class="menu-title">Bildirimler</span>
                <i class="mdi mdi-call-received menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/index">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-link menu-icon"></i>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/writer/ChangePassword">
                <span class="menu-title">Parolanı Değiştir</span>
                <i class="mdi mdi-passport menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/">
                <span class="menu-title">  Çıkış Yap </span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>



    </ul>
</nav>